header {
    padding: 7px;
    background-color: rgb(200, 200, 255);
}

main {
    padding: 10px;
    background-color: #eee;
}

footer {
    padding: 10px;
    background-color: black;
    color: #eee;
}

div {
    padding: 7px;
    /* border: 1px solid navy; */
}