header {
    padding: 7px;
    background-color: rgb(200, 200, 255);
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

main {
    padding: 10px;
    background-color: #eee;
}

footer {
    padding: 10px;
    background-color: black;
    color: #eee;
}

div {
    padding: 7px;
    /* border: 1px solid navy; */
}